
.stem-modal {
  display: none;
  position: fixed;
  z-index: 9000;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.stem-modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.stem-modal-close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.stem-modal-close:hover,
.stem-modal-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.stem-modal-title {
  font-weight: bold;
  font-size: 24px;
  padding-top: 30px;
  padding-bottom: 14px;
}

.stem-admin-title {
  font-weight: bold;
  font-size: 24px;
  padding-top: 30px;
  padding-bottom: 20px; 
  text-align: left;
  padding-left: 100px;
}

.stem-modal-description {
  font-size: 17px;
  padding-bottom: 14px;
}

.stem-modal-intermediate-container{
  padding-bottom: 10px;
}

.stem-modal-rating-container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
}

.stem-modal-rating-left {
  float: left;
  width: 50%;
  font-weight: bold;
  font-size: 15px;
}

.stem-modal-rating-right {
  float: left;
  width: 50%;
  font-size: 15px;
}

.stem-button {
  padding-left: 16px;
  padding-right: 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.16px;
  text-transform: uppercase;
  background: rgba(0,0,0,0.12);
  color: rgba(0,0,0,0.26);
  margin: 0;
  min-height: 30px;
  border: none;
  border-radius: 2px;
  font-weight: bold;
}

.stem-button-blue {
  background: rgba(44,152,240,0.25);
  color: rgba(44,152,240,0.50);
}

.stem-button-red {
  background: rgba(255,87,34,0.12);
  color: rgba(255,87,34,0.26);
}

.stem-button-green { 
  background: rgba(76,175,80,0.12);
  color: rgba(76,175,80,0.26); 
}

.stem-modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 600px;
}

@media only screen and (max-width: 700px) {
	.stem-modal-rating-left {
		float: none;
		width: 100%;
	}

	.stem-modal-rting-right {
		float: none;
		width: 100%;
	}
}
